@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

.orinoco-style {
    font-family: 'Finger Paint', cursive;
    font-size: 30px;
}

.cart {
    font-size: 20px;
    color: white;
    &:hover {
        color: #8f5bfe;
        @extend %icon-shadow-orinoco;
    }
}